{% extends "base_generic.html" %}

{% block title %} Convocation Registration portal | Login{% endblock %}
{% block navbar %}Convocation Registration portal of IIIT Tiruchirappalli{% endblock %}
{% block content %}
{% load static %}
{% block extrahead %}
<link rel="stylesheet" type="text/css" href="{% static 'css/authform.css' %}" />
{% endblock %}
<div class="container">
  <div class="jumbotron">
    <div id="form">
      {% include "generic_form.html" %}
    </div>
  </div>
</div>
{% endblock %}

